<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Audit v2.3.1 - Create Review Note</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom specific styles -->
  <link href="/css/audit-user-defined.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <% include partials/nav.ejs %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <% include partials/top-nav.ejs %>

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="m-0 font-weight-bold text-primary">------Create Review Note------</h4>            
          </div>          


          <form action="/file-review/create-review-note" method="POST">
            <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- Engagement details Card -->
              <% include partials/engagementCard.ejs %>


              <!--Intangible Assets Card-->
              <div class="card shadow mb-4">

                    <!-- Card Header - Accordion -->
                    <a href="#createReviewNoteCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">CREATE REVIEW NOTE</h6>
                    </a>
    
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="createReviewNoteCard">
    
                      <div class="card-body">

                        <br>
                        
                        <label class="small font-weight-bold" for="reviewNoteTitle">Review Note Title
                            <input class="form-control form-control-sm" type="text" id="reviewNoteTitle" name="reviewNoteTitle">
                        </label>

                        <br>

                        <label class="small font-weight-bold" for="reviewNoteDescription">Review Note Details
                            <textarea class="form-control" id="reviewNoteDescription" name="reviewNoteDescription" rows="3" cols="150"></textarea>
                        </label>

                        <br><br>

                        <label class="small font-weight-bold" for="attachToWPCheckbox">Attach Review Note to Work Paper
                            <input type="checkbox" id="attachToWPCheckbox" name="attachToWPCheckbox">
                        </label>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="small font-weight-bold" for="wpToAttachTo">Work Paper Reference
                          <select class="form-control form-control-sm" id="wpToAttachTo" name="wpToAttachTo">
                            <option>02.20 Going concern Assessment</option>
                            <option>10 09 Assessment of staff for engagement - V0818</option>
                            <option>10.00 Nolands methodology - V0217</option>
                            <option>10.02 Opening balances verification</option>
                            <option>10.02 Opening balances verification</option>
                            <option>10.02 Opening balances verification</option>
                            <option>10.02 Opening balances verification</option>
                            <option>10.08A1 Discussion with those charged with governance</option>
                            <option>10.08A1 Discussion with those charged with governance</option>
                            <option>10.09 Assessment staff for engagement</option>
                            <option>10.10 Threats declaration - JHB - V0718</option>
                            <option>10.11 Partner independence declaration - JHB - V0217</option>
                            <option>11.21 Laws and regulations</option>
                            <option>11.39 Identifying risks through understanding the entity (Core</option>
                            <option>11.40 Auditor's Checklist to Consider Fraud</option>
                            <option>11.45 Fraud Risk Assessment Checklist</option>
                            <option>12.31 - Reliance of work of an Expert V0718</option>
                            <option>12.32 Evaluation of the internal audit function</option>
                            <option>12.33 Inspection of internal audit reports</option>
                            <option>12.34 Related parties Audit planning</option>
                            <option>20.41 Fixed Assets Testing - Cost and NBV material V0718</option>
                            <option>20.42 PPE Residual Values V0718</option>
                            <option>21.40 Investment property</option>
                            <option>23.40 Intangible Assets - V0718</option>
                            <option>30.30 Inventory testing V0718</option>
                            <option>40.80 Capital and reserves V0718</option>
                            <option>51.40 - Trade payables completeness - V0718</option>
                            <option>51.50 Other payables - V0718</option>
                            <option>61.50 Investment Income</option>
                          </select>
                        </label>

                        <br><br>

                        <label class="small font-weight-bold" for="priority">Priority
                            <select class="form-control form-control-sm" id="priority" name="priority">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                        </label>

                        <br><br>

                        <label class="small font-weight-bold" for="assignTo">Assign To
                            <select class="form-control form-control-sm" id="assignTo" name="assignTo">
                                <% for (var i = 0; i<usersList.length ; i++) { %>
                                    <option><%= usersList[i] %> 
                                <% } %>
                            </select>
                        </label>                        

                        <br><br>

                        
                      </div>
                    </div>
              </div>

              


              <button class="btn btn-info btn-long" type="submit">Upload</button>
              <button class="btn btn-secondary btn-long" type="reset">Reset All Fields</button>

            </div>
            
          </div>
          </form>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <% include partials/footer.ejs %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Confirm Modal-->
  <div class="modal fade" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Client Acceptance Creation Success</h3>
        </div>
        <div class="modal-body">
          <p>Client successfully created!</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">End Session?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>