<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Audit v2.3.1 - 10.54 - Non Compliance with Laws And Regulations</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom specific styles -->
  <link href="/css/audit-user-defined.css" rel="stylesheet">



  <style type="text/css">
    

    th {
    white-space: nowrap;
}
  </style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <% include partials/nav.ejs %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <% include partials/top-nav.ejs %>

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="m-0 font-weight-bold text-primary">------10.54 - Non Compliance with Laws And Regulations ------</h4>            
          </div>          


          
            <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- Engagement details Card -->
              
                <% include partials/engagementCard.ejs %>

                                   <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Meeting Details</h6>
                </div>
                <div class="card-body">
                    
                    <label class="small font-weight-bold" for="engagementPartner">Engagement Partner
                        <input class="form-control form-control-sm" type="text" id="engagementPartner" name="engagementPartner">
                    </label>
                    <label class="small font-weight-bold" for="assistingPartner">Assisting Partner
                        <input class="form-control form-control-sm" type="text" id="assistingPartner" name="assistingPartner">
                    </label>
                    <label class="small font-weight-bold" for="meetingDate">Date
                        <input class="form-control form-control-sm" type="date" id="today" name="today" readonly>
                    </label>                    
                    
                </div>
              </div>




                   <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">In Attendance:</h6>
                </div>
                <div class="card-body">
                                      
                    <label class="small font-weight-bold" for="nolands">Nolands:
                        <textarea class="form-control form-control-sm" id="nolands" name="nolands" cols="150" rows="4"></textarea>
                    </label>
                    <label class="small font-weight-bold" for="client">Client:
                        <textarea class="form-control form-control-sm" id="client" name="client" cols="150" rows="4"></textarea>
                    </label>               
                                        
                </div>
              </div>  



                
              <!--Going Concern Card-->
              <div class="card shadow mb-4"  id="noclarTop">

                <!-- Card Header - Accordion -->
                <a href="#noclarCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample" id="noclarCollapse">
                    <h6 class="m-0 font-weight-bold text-primary">NOCLAR</h6>
                                        <div class="progress progress-sm mb-2">
<div class="progress-bar" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="noclarProgress"></div>
                                    </div>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse" id="noclarCard">

                  <div class="card-body">




<form  method="POST" id="NOCLARForm" data-post-url="/planning/noclar/add/">



<div id="matterDiv" hidden="true">

  <div class="form-group">

     <div>
    
<label class="small font-weight-bold" >Select Mater</label>

<select class="custom-select" id="matterSelector">
  <option  value="0" selected>A matter</option>
  <option value="1">Auction that was held</option>
  <option value="2">Director  Fees</option>
  <option value="3">Sales From Scrapyard</option>
</select>


  </div>
    
<label class="small font-weight-bold">Description  of matter identified
        </label>
<textarea    class="form-control" type="text"></textarea>

</div>
 <button class="btn btn-info"  id="evaluateButton"type="button" >Evaluate</button>

</div>


<h6 class="m-0 font-weight-bold text-primary" id="topHeading" hidden="true">Evaluation of matters against the definition of NOCLAR</h6>


 




<div class="card itemCard"  style="margin-top: 3em" id="1" hidden="true">
  <div class="card-header">
    <label class="font-weight-bold">
  Is there an identified or suspected NOCLAR?
</label>
</div>
  <div class="card-body">
    <div class="row">
    <div class="col-md-3">
              <select name="suspectedNOCLAR"   class="form-control">
 <option selected value="yes">Yes</option>
  <option value="no">No</option>

</select>
<input type="text" name="suspectedNOCLARComment" hidden="true" value="" id="1text">
</div>


   <div class="col-md-3">

<button class="btn btn-info commentButton" type="button" data-id="1text">Add Comment</button>
</div>
</div>
</br>
<h5 class="font-weight-bold" id="1textReadHeading" hidden="true"> Comment</h5>
<p id="1textRead"> </p>

    <div class="row">
    <div class="col-md-4">
   <button class="btn btn-info btn-long nextButton" type="button" >Next</button>

</div>
</div>
  
  </div>
</div>





<div class="card itemCard"  style="margin-top: 3em" id="2" hidden="true">
  <div class="card-header">
    <label class="font-weight-bold">
  Have you obtained a full understanding of the matter?(nature of the act and all circumstances in which it has occurred)
</label>
</div>
  <div class="card-body">
    <div class="row">
    <div class="col-md-3">
              <select name="fullUnderstandig"  class="form-control">
 <option selected value="yes">Yes</option>
  <option value="no">No</option>

</select>
<input type="text" name="fullUnderstandigComment" hidden="true" value="" id="2text">
</div>


   <div class="col-md-3">

<button class="btn btn-info commentButton" type="button"  data-id="2text">Add Comment</button>
</div>
</div>

</br>
<h5 class="font-weight-bold" id="2textReadHeading" hidden="true"> Comment</h5>
<p id="2textRead"> </p>



    <div class="row">
    <div class="col-md-4">
   <button class="btn btn-info btn-long nextButton" type="button">Next</button>

</div>
</div>
  
  </div>
</div>




<div class="card itemCard"  style="margin-top: 3em" id="3" hidden="true">
  <div class="card-header">
    <label class="font-weight-bold">
    Have you discussed the identified or suspected NOCLAR with appropraite management and/or those charged with governance where applicable?

</label>
</div>
  <div class="card-body">
    <div class="row">
    <div class="col-md-3">
              <select name="discussedNOCLAR"   class="form-control">
 <option selected value="yes">Yes</option>
  <option value="no">No</option>

</select>
<input type="text" name="discussedNOCLARComment" hidden="true" value="" id="3text">
</div>


   <div class="col-md-3">

<button class="btn btn-info commentButton" type="button"  data-id="3text">Add Comment</button>
</div>
</div>
</br>
<h5 class="font-weight-bold" id="3textReadHeading" hidden="true"> Comment</h5>
<p id="3textRead"> </p>


    <div class="row">
    <div class="col-md-4">
   <button class="btn btn-info btn-long nextButton" type="button">Next</button>

</div>
</div>
  
  </div>
</div>



<div class="card itemCard"  style="margin-top: 3em" id="4" hidden="true">
  <div class="card-header">
    <label class="font-weight-bold">
  <p> Have you advised them to take appropriate action to: </p>
  <p>1) rectify, remidiate or mitigate the consequences of NOCLAR </p>
    <p>2)Deter the commission of NOCLAR</p> 
<p>3) Disclose the matter to the appropriate authority where applicable </p>
  
</label>
</div>
  <div class="card-body">
    <div class="row">
    <div class="col-md-3">
              <select name="appropriateAction"   class="form-control">
 <option selected value="yes">Yes</option>
  <option value="no">No</option>

</select>
<input type="text" name="appropriateActionComment" hidden="true" value="" id="4text">
</div>

   <div class="col-md-3">

<button class="btn btn-info commentButton" type="button" data-id="4text">Add Comment</button>
</div>
</div>
</br>
<h5 class="font-weight-bold" id="4textReadHeading" hidden="true"> Comment</h5>
<p id="4textRead"> </p>


    <div class="row">
    <div class="col-md-4">
   <button class="btn btn-info btn-long nextButton" type="button">Next</button>

</div>
</div>
  
  </div>
</div>



<div class="card itemCard"  style="margin-top: 3em" id="5" hidden="true">
  <div class="card-header">
    <label class="font-weight-bold">
   Have you assessed the management or those charged with corporate governance's response in terms of its timeliness; whether the issue has been adequately investigated; whether action has been made to mitigate; remidiate or rectify the NOCLAR  or if it has been reported to the relevant authority.</label>
</div>
  <div class="card-body">
    <div class="row">
    <div class="col-md-3">
              <select name="assessedResponse"   class="form-control">
 <option selected value="yes">Yes</option>
  <option value="no">No</option>

</select>
<input type="text" name="suspectedNOCLARComment" hidden="true" value="" id="5text">
</div>


   <div class="col-md-3">

<button class="btn btn-info commentButton" type="button" data-id="5text">Add Comment</button>
</div>
</div>
</br>
<h5 class="font-weight-bold" id="5textReadHeading" hidden="true"> Comment</h5>
<p id="5textRead"> </p>

    <div class="row">
    <div class="col-md-4">
   <button class="btn btn-info btn-long  nextButton" type="button">Next</button>

</div>
</div>
  
  </div>
</div>




<div class="card itemCard"  style="margin-top: 3em" id="6" hidden="true">
  <div class="card-header">
    <label class="font-weight-bold">
   Based on management or those charged with corporate governance's response, is there need to take further action in line with public interest?
.</label>
</div>
  <div class="card-body">
    <div class="row">
    <div class="col-md-3">
              <select name="furtherAction"   class="form-control">
 <option selected value="yes">Yes</option>
  <option value="no">No</option>

</select>
<input type="text" name="furtherActionComment" hidden="true" value=""  id="6text">
</div>
   <div class="col-md-3">

<button class="btn btn-info commentButton"  type="button" data-id="6text">Add Comment</button>
</div>
</div>

</br>
<h5 class="font-weight-bold" id="6textReadHeading" hidden="true"> Comment</h5>
<p id="6textRead"> </p>


    <div class="row">
    <div class="col-md-4">
   <button class="btn btn-info btn-long nextButton" type="button">Next</button>

</div>
</div>
  
  </div>
</div>



<div class="card itemCard"  style="margin-top: 3em" hidden="true" id="7">
  <div class="card-header">
    <label class="font-weight-bold">
  If answer to above is yes,have you disclosed the NOCLAR to the appropriate authority or alternatively withdrawn from the engagement and client relationships where possible?
Have you applied a third party test in all your dealings with the suspected or identified NOCLAR?
.</label>
</div>
  <div class="card-body">
    <div class="row">
    <div class="col-md-3">
              <select name="reportOrResign"   class="form-control">
 <option selected value="yes">Yes</option>
  <option value="no">No</option>

</select>
<input type="text" name="reportOrResignComment" hidden="true" value="" id="7text">
</div>


   <div class="col-md-3">

<button class="btn btn-info commentButton" type="button"  data-id="7text">Add Comment</button>
</div>
</div>

</br>
<h5 class="font-weight-bold" id="7textReadHeading" hidden="true"> Comment</h5>
<p id="7textRead"> </p>


    <div class="row">
    <div class="col-md-4">
   <button class="btn btn-info btn-long nextButton" type="button">Next</button>

</div>
</div>
  
  </div>
</div>




<div class="card itemCard"  style="margin-top: 3em" id="8" hidden="true">
  <div class="card-header">
    <label class="font-weight-bold">

  Is there credible evidence that the imminent breach of laws and regulations can cause substantial harm to stakeholder? If so, have you reported the issue to the responsible authority before discussing with management in public's interest.
.</label>
</div>
  <div class="card-body">
    <div class="row">
    <div class="col-md-3">
              <select name="publicIntrest"   class="form-control">
 <option selected value="yes">Yes</option>
  <option value="no">No</option>

</select>
<input type="text" name="publicIntrestComment" hidden="true" value="" id="8text">
</div>

   <div class="col-md-3">

<button class="btn btn-info commentButton" type="button" data-id="8text">Add Comment</button>
</div>
</div>

</br>
<h5 class="font-weight-bold" id="8textReadHeading" hidden="true"> Comment</h5>
<p id="8textRead"> </p>


    <div class="row">
    <div class="col-md-4">
   <button class="btn btn-info btn-long nextButton" type="button">Next</button>

</div>
</div>
  
  </div>
</div>





<div class="card itemCard"  style="margin-top: 3em" id="9" hidden="true">
  <div class="card-header">
    <label class="font-weight-bold">

Have you documented all your steps in addressing the suspected or identified NOCLAR?
.</label>
</div>
  <div class="card-body">
    <div class="row">
    <div class="col-md-3">
              <select name="documentedSteps"   class="form-control">
 <option selected value="yes">Yes</option>
  <option value="no">No</option>

</select>

<input type="text" name="documentedStepsComment" hidden="true" value="" id="9text">
</div>


   <div class="col-md-3">

<button class="btn btn-info commentButton" type="button" data-id="9text">Add Comment</button>
</div>
</div>

</br>
<h5 class="font-weight-bold" id="9textReadHeading" hidden="true"> Comment</h5>
<p id="9textRead"> </p>


    <div class="row">
    <div class="col-md-4">
   <button class="btn btn-info btn-long"  type="submit">Finish</button>

</div>
</div>
  
  </div>
</div>




</form>
 



                  </div>
                </div>
              </div>
              <form  method="POST" action="/planning/noclar/conclude/">
               <!-- Conclusion Card -->
               <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Conclusion:</h6>
                  </div>
                  <div class="card-body">
                    
                      


                    
<textarea class="form-control form-control-sm" id="noclarConclusion" name="noclarConclusion" placeholder="State conclusion" rows="4"></textarea>
                  </div>
                </div>
                <button class="btn btn-info btn-long" type="submit">Submit</button>
        <button class="btn btn-secondary btn-long" type="reset">Reset All Fields</button>


                </form>


              

            </div>
            
          </div>
       

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <% include partials/footer.ejs %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>




  <!-- Confirm Modal-->
  <div class="modal fade" id="commentModal">
    <div class="modal-dialog">

      <div class="modal-content">
           <div class="modal-header">
          <h3>Add a Comment</h3>
        </div>
     
        <div class="modal-body">
<form id="noclarComment">

              <input type="text" name="minuteId" id="minuteId"   value="" hidden="true">

            <div class="form-group">
         <textarea class="form-control" name="myComment" id="comment" value=""></textarea>
       </div>
          <button  class="btn btn-info" type="button" id="commentSubmitButton">Add</button>


          </form>
        
        </div>
        <div class="modal-footer">
         
        </div>
      </div>
    </div>
  </div>



  <!-- Confirm Modal-->
  <div class="modal fade" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Client Acceptance Creation Success</h3>
        </div>
        <div class="modal-body">
          <p>Client successfully created!</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">End Session?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>




  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <script type="text/javascript">
  $( document ).ready(function() {
   $('#matterDiv').attr("hidden",false);
   
});
</script>


  <script type="text/javascript">
    $( "#evaluateButton" ).click(function() {
      $(".itemCard").attr("hidden",true);
      $("#NOCLARForm")[0].reset()
      $('#matterDiv').attr("hidden",true);
       $("#topHeading").attr("hidden",false)
        $("#1").attr("hidden",false);
          $("#noclarProgress").css({"width": "10%"});
        $([document.documentElement, document.body]).animate({
                        scrollTop: $("#noclarTop").offset().top}, 1000);

      });
</script>
<script type="text/javascript">
  $(".commentButton").click(function() {
     var stepId = $(this).attr("data-id");
     $("#minuteId").val(stepId);
    $('#commentModal').modal('show');

    
  })
</script>

<script type="text/javascript">
  $("#commentSubmitButton").click(function() {
  var cardId = $("#minuteId").val(); 
  var commentSelector="#"+cardId;
  var commentReadSelector = commentSelector+"Read";
  var commentHeadingSelector=commentSelector+"ReadHeading";
  var comment=$("#comment").val();
  $(commentSelector).val(comment);
  $(commentReadSelector).text(comment);
  $(commentHeadingSelector).attr("hidden",false);
  $('#commentModal').modal('hide');
})
</script>


 <script type="text/javascript">
   $(".nextButton").click(function(){
    var cardId = $(this).parent().parent().parent().parent().attr("id");
    var myCardId = parseInt(cardId);
    var nextCardId=myCardId+1;
    var progressInt=(nextCardId+1)*10;
    var progressString=progressInt.toString()+"%";
    var nextCardSelector="#"+nextCardId.toString();
    var myCardSelector="#"+cardId;
    $(myCardSelector).attr("hidden",true);
    $(nextCardSelector).attr("hidden",false);
    $("#noclarProgress").css({"width":progressString});



   })
</script>

  <script type="text/javascript">
    $(".updateButton").click(function() {
      var minuteId = $(this).attr("id");
    $("#minuteId").val(minuteId);
$('#commentModal').modal('show');
})



  </script>

<script type="text/javascript">
$("#NOCLARForm").submit(function(event){
    event.preventDefault();
 // Get some values from elements on the page:
  var form = $(this);
  var formData=form.serialize();

 $.ajax({
        url: form.attr("data-post-url"),
        data:formData ,
        type: 'post',
        dataType: 'json',
        success: function (data) {
    $("#noclarCollapse").trigger("click");
  
    $("#noclarProgress").css({"backgroundColor": "#1cc88a"});

          
          },

          error:function(){
          alert('error in request');
        },

        complete:function(){
              console.log("complete");
            }
      });


  });
</script>

</body>

</html>
